.contactInfo {
    display: flex;
    flex-direction: column;
}

.name {
    position: relative;
}

.iconPerson {
    position: absolute;
    left: -21px;
    top: 20px;
    width: 15px;
}

.number {
    position: relative;
}

.iconPhone {
    position: absolute;
    left: -21px;
    top: 20px;
    width: 15px;
}



/* @keyframes overlay {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
} */



.btnDelete {
    background-color: rgb(224, 223, 223);
    width: 100px;
    height: 40px;
    margin-left: auto;
    margin-top: 30px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.50s;
}

button:hover {
    background-color: rgb(116, 115, 115);
}